<div class="dialog_container">
    <h2></h2>
    <p>This is a DEMO of a real application. This DEMO was developed using Angular, NGRX, Node.js, Nest.js and MongoDB.
        Real App was build using Angular, NGRX, firebase and Electron. You can see the code of each one in the corresponding repositories
        Since this is a DEMO, you can add and remove data as you wish.
    </p>
    <h4>Repositories:</h4>
    <p>Frontend code: <a href="https://github.com/AgustinLaValla/angular-nestjs-consultorio">https://github.com/AgustinLaValla/angular-nestjs-consultorio</a></p>
    <p>Backend code: <a href="https://github.com/AgustinLaValla/nestjs-consultorio-server">https://github.com/AgustinLaValla/nestjs-consultorio-server</a></p>
    <p>Angular-firebase application code: <a href="https://github.com/AgustinLaValla/Consultorio-Ayacucho-App">https://github.com/AgustinLaValla/Consultorio-Ayacucho-App</a></p>
    <button (click)="onClose()" mat-raised-button color="primary" style="width:100%">OK</button>
</div>