form {
    max-height: 500px;
    max-width: 600px;
}


.mat-form-field { 
    min-width: 280px;
    padding-left: 10px;
    padding-right: 10px;
}
.input {
    min-width: 280px;
}

@media screen and (max-width: 819px) {
    .mat-form-field {
        min-width: 45%;
    }
}

@media screen and (max-width: 619px) {
    .mat-form-field {
        max-width: 45%;
    }
}

@media screen and (max-width: 569px) {

    form {
        width: 80vw;
    }
    .mat-form-field {
        min-width: 40% !important;
        max-width: 40% !important;

    }
}

@media screen and (max-width: 569px) {
    form {
        width: 75vw;
    }
}